# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
_releases/

# Visual Studio cache/options
.vs/

# Visual Studio Code options
/.vscode

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Operating System Files
.DS_Store
Thumbs.db
